link(href='/bootstrap/dist/css/bootstrap.min.css',rel='stylesheet')
script(src='/jquery/dist/jquery.min.js')
script(src='/bootstrap/dist/js/bootstrap.min.js')
//- 地址是怎么来的？
//- 设置静态资源的路径
//- app.use(express.static(path.join(__dirname,'bower_components')))